@page
@model wBees.Areas.Identity.Pages.Account.Manage.JobsModel
@{
    ViewData["Title"] = "My Jobs";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<h4>@ViewData["Title"]</h4>

<section class="job-postings">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Posted on</th>
                <th scope="col">Position</th>
                <th scope="col">Employer</th>
                <th scope="col">Type</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in @Model.Input)
            {
                <tr>
                    <th scope="row">@job.PublishedOn</th>
                    <td>@job.Position</td>
                    <td>@job.Employer</td>
                    <td>@job.EmploymentType</td>
                    <!--<td>-->@*<a class="job-info" asp-controller="Jobs" asp-action="JobsInfo" asp-route-id="@job.Id">More info</a>*@
                    <!--</td>
                    <td>-->
                    @*<button onclick="location.href='@Url.Action($"JobsInfo", "Jobs")?id=@job.Id'" class="job-info">More info</button>*@<!--</td>-->

                    @{var modal = "modal" + job.Id;}
                <td>

                    <button asp-route-id="@job.Id" style="padding:0px; border:none;background-color:transparent" type="button" class="btn btn-info" data-toggle="modal" data-target="#@modal">

                        <i class="fas fa-info-circle" style="color: orange;"></i>
                    </button>

                    <div class="modal fade" id="@modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@job.Position</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><i class="fas fa-map-marker-alt"></i>@job.Location</p>
                                    <p><i class="fas fa-briefcase"></i>@job.SeniorityLevel</p>
                                    <p>@job.Description</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    @*<form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="@job.Id" />
                            <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@job.Id"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>*@

                                </div>
                            </div>
                        </div>
                    </div>

                    @if (job.Applied == true)
                    {
                        <i class="fas fa-save" style="color: steelblue;"></i>
                    }
                    @if (job.Saved == true)
                    {
                        <i class="fas fa-arrow-alt-circle-up" style="color: mediumseagreen;"></i>
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>

    @*<a class="search-button a"  asp-controller="Jobs" asp-action="ListAllJobs">See all</a>*@
</section>
